/*Selector {
    Property: value;
}*/


body {
    background-image: url(background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    color: rgb(228, 219, 218);
    text-align: center;
    border: 5px solid white;
    cursor: pointer;

}

h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
}

li {
    list-style: none;
    display:inline-block ;

}

.Subscribtion {
    border: 5px solid white;
}

.Creators {
    border: 5px solid white;
}

.Library {
    border: 5px solid white;
}

#menuoptions * {
    background: rgba(175, 175, 240, 0.2);
}